<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <input type="text" id="url" placeholder="Url..." class="form-control" />
        <br />
        <button id="shorten-button" class="btn btn-success">Shorten</button>
        <br />
        <h3 style="display: none;" id="shortened-url"></h3>
    </div>
</div>

@section scripts
{
    <script src="/js/shorten.js"></script>
}